<div class="container">
  <h1>Approve and Rejection Using - ngIf</h1>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="approved(true)">Approve</button>
      <button class="btn btn-danger" (click)="approved(false)">Reject</button>
      <div class="col-md-12">
        <p *ngIf="isApproved">Your application has been approoved</p>
        <p *ngIf="!isApproved">Soryy,your application has been Rejected</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="col">
    <h2>Display Numbers Using-ngFor</h2>
    <p *ngFor="let number of numbers; let i = index">
      {{ i + 1 }} - {{ number }}
    </p>
  </div>
  <div>
    <hr />
    <h2></h2>

    <div class="col">
      <h4>DISPLAY</h4>
      <input type="number" name="luckynumber" [(ngModel)]="luckyNumber" />
    </div>
    

    <div class="col-md-12" [ngSwitch]="luckyNumber">
      <p *ngSwitchCase="1">week</p>
      <p *ngSwitchCase="2">strong</p>
      <p *ngSwitchCase="3">fool</p>
      <p *ngSwitchCase="4">inteligent</p>
      <p *ngSwitchCase="5">brave</p>
      <p *ngSwitchDefault>enter number 1 to 5</p>
    </div>
  </div>
  <hr>
  <div>
    <div class="col">
      <h2>Display Numbers Using-ngFor</h2>
      <p *ngFor="let number of numbers; let i = index">
        <span *ngIf="(i+1)%2===0">{{ i + 1 }} - {{ number }}
        </span>
      </p>
    </div>
    
  </div>
</div>
